body{
    font-family: Arial, sans-serif;
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
}
h1 {
    color: #333;
}
button {
    background-color: #2aac2a;
    color: white;
    padding: 10px 20px;
}
